.todoListContainer {
  padding: 10px;
}

.buttonMark {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  top: -5px;
}

.mark,
.deleted {
  display: block;
  position: relative;
  margin-right: 25px;
  width: 60px;
  height: 60px;
  background-color: beige;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mark:hover,
.deleted:hover {
  background-color: rgb(240, 240, 155);
}

.markIcon,
.deletedIcon {
  width: 55px;
  height: 55px;
  color: rgb(126, 191, 252);
}

.mark:hover {
  color: rgb(250, 152, 152);
}

.activeTask {
  position: relative;
  top: 45px;
}
